# Entornos virtuales (cosas de paloli)
.venv/
venv/
env/
ENV/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración locales
*.env

# Estructura de buckets de minIO
data_MinIO/
