--extra-index-url https://download.pytorch.org/whl/cu126

minio
kagglehub
kaggle
Pillow
chromadb>=0.5.0
sentence-transformers>=2.2.0
open_clip_torch>=2.24.0
python-dotenv>=1.0.0
numpy>=1.25.0
tqdm
imageio-ffmpeg
opencv-python
google-generativeai
diffusers
ipykernel
tzdata
ipywidgets
matplotlib

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

transformers
peft
accelerate
